*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.navbar {
    padding: 0.5rem 1rem;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #f5c445 !important;
}

.navbar .nav-link {
    margin-right: 1rem;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #fff !important;
}

.navbar .dropdown-menu {
    background-color: #001489;
}

.navbar .dropdown-item {
    color: #f5c445 !important;
}

.navbar .dropdown-item:hover {
    background-color: #f5c445;
    color: #001489 !important;
}

.btn-primary {
    background-color: #f5c445;
    border-color: #f5c445;
    color: #001489;
}

.btn-primary:hover {
    background-color: #ffd700;
    border-color: #ffd700;
}

#content {
    padding: 20px;
}

.text-primary {
    color: #001489 !important;
}

.bg-primary {
    background-color: #001489 !important;
}

.inventory-window > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inventory-window input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#scannedBarcode {
    text-align: right;
    width: 48%;
}

#searchInput {
    text-align: left;
    width: 48%;
}