{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: 'Poppins', sans-serif;
    }

    .form-control {
        border-radius: 5px;
        border: 1px solid #001489; 
        color: #001489; 
    }

    .form-control:focus {
        border-color: #001489; 
        box-shadow: 0 0 0 0.25rem rgba(0, 20, 137, 0.25); 
    }

    .btn-primary {
        background-color: #ffc107; 
        border-color: #ffc107; 
        color: #001489; 
    }

    .btn-primary:hover {
        background-color: #e0a800; 
        border-color: #e0a800; 
        color: #ffffff; 
    }
</style>
<form method="POST" id="addItemForm" action="{{ url_for('add_item') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.item_name.label }}
        {{ form.item_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.material.label }}
        {{ form.material(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.weight.label }}
        {{ form.weight(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.type.label }}
        {{ form.type(class="form-control") }}
    </div>    
    <div class="form-group">
        {{ form.stock.label }}
        {{ form.stock(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.value_per_item.label }}
        {{ form.value_per_item(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
