{% extends "ssbase.html" %}

{% block content %}

<style>
    body {
        font-family: 'Poppins', sans-serif;
    }

    .table {
        border-radius: 15px;
        border: 3px solid #001489; 
    }

    .table thead th {
        background-color: #001489; 
        color: #ffffff; 
    }

    .sortable-th {
        cursor: pointer;
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }

    .sortable-th:hover {
        background-color: #f5c445; /* Slightly darker shade on hover */
    }

    .sort-icon {
        font-size: 0.8em;
        margin-left: 5px;
    }

</style>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2 style="font-family: 'Poppins', sans-serif; font-weight: 700; margin-bottom: 0;">Swap Shop Inventory</h2>
    <div class="mb-3">
        <button id="addItemSwapShopBtn" class="btn btn-primary">
            Add New Item <i class="fas fa-plus"></i>
        </button>
    </div>
</div>
<div id="itemDetailsModal" class="modal">
    <div class="modal-content">
      <span class="close-container"><span class="close">&times;</span></span>
      <h2>Item Details</h2>
      <p id="itemName"></p>
      <p id="itemMaterial"></p>
      <p id="itemWeight"></p>
      <p id="itemStock"></p>
      <p id="itemValue"></p>
    </div>
</div>
<div class="inventory-window">
    <div>
        <input type="text" id="searchInput" placeholder="Search by 'Item Name' or 'Category'...">
        <input type="text" id="scannedBarcode" placeholder="Click here to scan barcode..." onfocus="this.placeholder = 'Scan desired barcode'" onblur="this.placeholder = 'Click here to scan barcode...'">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-sm table-hover">
            <thead>
                <tr>
                    <th class="sortable-th" onclick="sortTable(0)">Item Name <span class="sort-icon">&uarr;&darr;</span></th>
                    <th class="sortable-th" onclick="sortTable(1)">Material <span class="sort-icon">&uarr;&darr;</span></th>
                    <th class="sortable-th" onclick="sortTable(2)">Weight (kg) <span class="sort-icon">&uarr;&darr;</span></th>
                    <th class="sortable-th" onclick="sortTable(3)">Category <span class="sort-icon">&uarr;&darr;</span></th>
                    <th>Stock</th>
                    <th class="sortable-th" onclick="sortTable(5)">Value Per Item <span class="sort-icon">&uarr;&darr;</span></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="inventoryBody">
                {% for item in items %}
                <tr>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.material }}</td>
                    <td>{{ item.weight }}</td>
                    <td>{{ item.type }}</td>
                    <td><input type="number" id="quantity_{{ item.id }}" value="{{ item.stock }}" class="form-control" readonly></td>
                    <td>{{ item.value_per_item }}</td>
                    <td>
                        <button onclick="releaseItem('{{ item.id }}', '{{ item.item_name }}')" class="btn btn-primary"><i class="bi bi-box-arrow-up"></i> Release</button>
                        <button onclick="updateQuantity('{{ item.id }}')" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Update </button>
                        <button onclick="printBarcode('{{ item.barcode }}')" class="btn btn-success"><i class="bi bi-printer"></i> Print Barcode</button>
                        <button onclick="deleteItem('{{ item.id }}')" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">Total:</th>
                    <th id="totalWeight">0</th>
                    <th colspan="2"></th>
                    <th id="totalValue">0</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3/dist/JsBarcode.all.min.js"></script>
<script>
//button format changed from html to js
document.addEventListener('DOMContentLoaded', function() {
    fetchInventory();
    scanBarcode();
    
    const buttonContainer = document.createElement('div');
    buttonContainer.className = 'button-container';


    const updateButton = document.createElement('button');
    updateButton.onclick = function() { updateQuantity(itemId); };
    updateButton.className = 'btn btn-primary modal-button';
    updateButton.textContent = 'Update';

    
    const releaseButton = document.createElement('button');
    releaseButton.onclick = function() { releaseItem(itemId, data.item_name); };
    releaseButton.className = 'btn btn-primary modal-button';
    releaseButton.textContent = 'Release';

    buttonContainer.appendChild(updateButton);
    buttonContainer.appendChild(releaseButton);

    modalContent.appendChild(buttonContainer);

    document.getElementById('scannedBarcode').focus();

    var modal = document.getElementById('itemDetailsModal');
    var closeButton = document.querySelector('.close');

    closeButton.onclick = function() {
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
});


document.getElementById('addItemSwapShopBtn').addEventListener('click', function() {
  Swal.fire({
    title: 'Add New Item to Swap Shop',
    html: `
      <style>
        .swal2-input, .swal2-select {
          margin: 0.5em 0;
          padding: 10px;
          width: 100%;
          box-sizing: border-box;
          border-radius: 4px;
          border: 1px solid #d1d3d4;
        }
        .swal2-select::placeholder {
          color: #aaa;
        }
        .swal2-select option {
          color: black;
        }
        .swal2-select option[disabled] {
          color: #e4e4e4;
        }
      </style>
      <input type="text" id="item_name" class="swal2-input" placeholder="Item Name" required>
      <input type="text" id="material" class="swal2-input" placeholder="Material">
      <input type="number" id="weight" class="swal2-input" placeholder="Weight (kg)" required min="0" step="0.01">
      <input type="number" id="value_per_item" class="swal2-input" placeholder="Value Per Item" required min="0" step="0.01">
      <input type="text" id="type" class="swal2-select" placeholder="Category" required>
    `,
    focusConfirm: false,
    preConfirm: () => {
      if(document.getElementById('type').value === "") {
        Swal.showValidationMessage("Please select an item type");
        return false;
      }
      return {
        item_name: document.getElementById('item_name').value,
        material: document.getElementById('material').value,
        weight: parseFloat(document.getElementById('weight').value),
        stock: 0,
        value_per_item: parseFloat(document.getElementById('value_per_item').value),
        type: document.getElementById('type').value
      };
    },
    showCancelButton: true,
    confirmButtonText: 'Add Item',
    confirmButtonColor: '#001489',
    showLoaderOnConfirm: true
  }).then((result) => {
    if (result.isConfirmed) {
      fetch('/add_item_swap_shop', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(result.value)
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        if (data.success) {
          console.log('Item added successfully'); // Debug statement

          // Create a new table row for the newly added item
          const newRow = document.createElement('tr');
          newRow.id = `item_${data.item.id}`;
          newRow.innerHTML = `
            <td>${data.item.item_name}</td>
            <td>${data.item.material || ''}</td>
            <td>${data.item.weight || ''}</td>
            <td>${data.item.type || ''}</td>
            <td><input type="number" id="quantity_${data.item.id}" value="${data.item.stock}" class="form-control"></td>
            <td>${data.item.value_per_item || ''}</td>
            <td>
              <button onclick="releaseItem(${data.item.id}, '${data.item.item_name}')" class="btn btn-primary"><i class="fas fa-minus"></i></button>
              <button onclick="updateQuantity(${data.item.id})" class="btn btn-primary"><i class="fas fa-plus"></i></button>
              <button onclick="printBarcode('${data.item.barcode}', '${data.item.item_name}')" class="btn btn-success"><i class="fas fa-barcode"></i></button>
              <button onclick="deleteItem(${data.item.id})" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </td>
          `;
          const inventoryBody = document.getElementById('inventoryBody');
          inventoryBody.appendChild(newRow);

          console.log('Launching updateQuantity modal'); // Debug statement
          updateQuantity(data.item.id); 
          
          // Display success message after the Swal modal is closed
          console.log('Success! Item added successfully.'); // Debug statement
          Swal.fire('Success!', 'Item added successfully.', 'success');
        } else {
          // Display error message returned from the Flask route
          Swal.fire('Error!', data.message, 'error');
        }
      })
      .catch(error => {
        console.error('Fetch error:', error);
        Swal.fire('Error!', 'There was a problem.', 'error');
      });
    }
  });
});


function showItemDetails(itemId) {
    fetch(`/get_ssitem_details/${itemId}`)
        .then(response => response.json())
        .then(data => {

            const itemDetailsHtml = `
                <p><strong>Item Name:</strong> ${data.item_name}</p>
                <p><strong>Material:</strong> ${data.material}</p>
                <p><strong>Weight:</strong> ${data.weight} lb</p>
                <p><strong>Stock:</strong> ${data.stock}</p>
                <p><strong>Value Per Item:</strong> $${data.value_per_item}</p>
            `;
            Swal.fire({
                title: 'Item Details',
                html: itemDetailsHtml,
                showCloseButton: true,
                focusConfirm: false,
                showConfirmButton: false,
                footer: '<button class="btn btn-primary" onclick="updateQuantity(' + itemId + ')" type="button" style="margin-right: 8px;">Add</button>' +
                        '<button class="btn btn-primary" onclick="releaseItem(' + itemId + ',\'' + data.item_name + '\')" type="button">Release</button>',
                showCancelButton: false,
                customClass: {
                    confirmButton: 'btn btn-success',
                },
                buttonsStyling: false,
                allowOutsideClick: true,
                allowEscapeKey: true,
            }).then((result) => {

            });
            document.querySelector('.swal2-confirm').style.display = 'none';
        });
}


function fetchInventory() {
    fetch(`/get_swap_shop_inventory`)
        .then(response => response.json())
        .then(data => {
            const inventoryBody = document.getElementById('inventoryBody');
            inventoryBody.innerHTML = '';
            let totalWeight = 0;
            let totalValue = 0;
            data.inventory.forEach(item => {
                const row = document.createElement('tr');
                row.id = `item_${item.id}`;
                row.innerHTML = `
                    <td>${item.item_name}</td>
                    <td>${item.material}</td>
                    <td>${item.weight}</td>
                    <td>${item.type}</td>
                    <td><input type="number" id="quantity_${item.id}" value="${item.stock}" class="form-control"></td>
                    <td>${item.value_per_item}</td>
                    <td>
                        <button onclick="releaseItem(${item.id}, '${item.item_name}')" class="btn btn-primary"><i class="fas fa-minus"></i></button>
                        <button onclick="updateQuantity(${item.id})" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                        <button onclick="printBarcode('${item.barcode}', '${item.item_name}')" class="btn btn-success"><i class="fas fa-barcode"></i></button>
                        <button onclick="deleteItem(${item.id})" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </td>
                `;
                inventoryBody.appendChild(row);

                // Accumulate total weight and total value
                const stock = parseInt(item.stock);
                if (!isNaN(stock)) {
                    const weightedWeight = parseFloat(item.weight) * stock;
                    const weightedValue = parseFloat(item.value_per_item) * stock;
                    totalWeight += weightedWeight;
                    totalValue += weightedValue;
                }
            });

            // Update total weight and total value
            document.getElementById('totalWeight').textContent = totalWeight.toFixed(2);
            document.getElementById('totalValue').textContent = totalValue.toFixed(2);
        })
        .catch(error => console.error('Error:', error));
}

function printBarcode(barcode, itemName) {
    if (barcode !== null) {
        const barcodeImage = new Image();

        JsBarcode(barcodeImage, barcode, {
            format: "CODE128",
            width: 2,
            height: 50
        });

        const printWindow = window.open('', '_blank');

        const container = document.createElement('div');
        container.style.display = 'inline-block';
        container.style.textAlign = 'center';

        const itemNameElement = document.createElement('div');
        itemNameElement.textContent = itemName;
        itemNameElement.style.fontSize = '16px';
        itemNameElement.style.marginBottom = '5px';

        container.appendChild(itemNameElement);
        container.appendChild(barcodeImage);

        printWindow.document.body.appendChild(container);

        printWindow.print();
    } else {
        alert("Barcode number is null.");
    }
}

function releaseItem(itemId, itemName) {
    Swal.fire({
        title: 'Enter the quantity to release:',
        input: 'number',
        inputAttributes: {
            min: 1,
            step: 1,
            autocapitalize: 'off'
        },
        showCancelButton: true,
        confirmButtonText: 'Next',
        confirmButtonColor: '#001489',
        showLoaderOnConfirm: true,
    }).then((quantityResult) => {
        if (quantityResult.value) {
            Swal.fire({
                title: 'Enter recipient information:',
                input: 'text',
                inputLabel: 'Recipient Name',
                showCancelButton: true,
                confirmButtonText: 'Release',
                showLoaderOnConfirm: true,
                preConfirm: (recipientName) => {
                    if (!recipientName.trim()) {
                        Swal.showValidationMessage("Recipient name cannot be empty");
                        return false;
                    }
                    return recipientName.trim();
                }
            }).then((recipientResult) => {
                if (recipientResult.value) {
                    const releaseData = {
                        item_id: itemId, 
                        quantity: parseInt(quantityResult.value), 
                        donor_info: recipientResult.value // Update field name to donor_info
                    };
                    fetch('/release_item_ss', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(releaseData),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            let quantityInput = document.getElementById(`quantity_${itemId}`);
                            let newQuantity = parseInt(quantityInput.value) - parseInt(quantityResult.value);
                            quantityInput.value = newQuantity; 
                            document.getElementById('itemStock').innerText = "Stock: " + newQuantity; 
                            Swal.fire('Released!', data.message, 'success');
                        } else {
                            Swal.fire('Oops...', data.message, 'error');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        Swal.fire('Oops...', 'Something went wrong!', 'error');
                    });
                }
            });
        }
    });
}




function deleteItem(itemId) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        confirmButtonText: 'Delete Item'
    }).then((result) => {
        if (result.isConfirmed) {
            fetch('/ss_delete_item', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ id: itemId }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire(
                        'Deleted!',
                        data.message,
                        'success'
                    );
                    document.getElementById(`item_${itemId}`).remove(); 
                    fetchInventory(); 
                } else {
                    Swal.fire(
                        'Failed to Delete!',
                        data.message,
                        'error'
                    );
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire(
                    'Error!',
                    'Something went wrong!',
                    'error'
                );
            });
        }
    });
}


function updateQuantity(itemId) {
    Swal.fire({
        title: 'Enter the quantity to add:',
        input: 'number',
        inputAttributes: {
            min: 1,
            step: 1,
            autocapitalize: 'off'
        },
        showCancelButton: true,
        confirmButtonText: 'Next',
        confirmButtonColor: '#001489',
        showLoaderOnConfirm: true,
    }).then((quantityResult) => {
        if (quantityResult.dismiss) {
            return;
        }

        if (quantityResult.isConfirmed && quantityResult.value) {
            Swal.fire({
                title: 'Enter donor information:',
                input: 'text',
                inputPlaceholder: 'Enter donor or blank for "Unknown"',
                showCancelButton: true,
                confirmButtonText: 'Submit',
                confirmButtonColor: '#001489',
                showLoaderOnConfirm: true,
                preConfirm: (donorInfo) => {
                    if (!donorInfo) {
                        return 'Unknown';
                    }
                    return donorInfo;
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((donorResult) => {
                if (donorResult.dismiss) {
                    return;
                }

                if (donorResult.isConfirmed) {
                    const donorInfo = donorResult.value ? donorResult.value : "Unknown";
                    const quantityToAdd = parseInt(quantityResult.value);
                    fetch('/update_quantity_ss', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({ item_id: itemId, quantity_to_add: quantityToAdd, donor_info: donorInfo }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            const quantityInput = document.getElementById(`quantity_${itemId}`);
                            const newQuantity = parseInt(quantityInput.value) + quantityToAdd;
                            quantityInput.value = newQuantity;
                            document.getElementById('itemStock').innerText = "Stock: " + newQuantity;
                            Swal.fire('Updated!', data.message, 'success');
                        } else {
                            Swal.fire('Oops...', data.message, 'error');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        Swal.fire('Oops...', 'Something went wrong!', 'error');
                    });
                }
            });
        }
    });
}


function scanBarcode() {
    let scannedBarcode = '';
    let timer = null;
    const inputField = document.getElementById('scannedBarcode');

    inputField.addEventListener('input', function (event) {
        clearTimeout(timer);
        scannedBarcode = event.target.value;

        timer = setTimeout(function() {
            const payload = JSON.stringify({ barcode: scannedBarcode });
            console.log('Sending barcode:', scannedBarcode); 

            fetch('/scan_barcode_swap_shop', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: payload,
            })
            .then(response => response.json())
            .then(data => {
                console.log('Received:', data); 
                if (data.success) {
                    
                    showItemDetails(data.itemId);
                } else {
                    alert(`Item not found: ${scannedBarcode}. ${data.message}`);
                }
            })
            .catch(error => console.error('Error:', error));

            
            scannedBarcode = '';
            inputField.value = '';
        }, 500); 
    });
}

function sortTable(columnIndex) {
    var table, rows, switching, i, x, y, shouldSwitch, dir = "asc", switchcount = 0;
    table = document.querySelector(".table");
    switching = true;

    while (switching) {
        switching = false;
        rows = table.rows;

        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[columnIndex];
            y = rows[i + 1].getElementsByTagName("TD")[columnIndex];

            // Determine if we need to parse as float for "Weight" and "Value Per Item" columns
            let xVal, yVal;
            if (columnIndex === 2 || columnIndex === 5) { // Numeric sorting for "Weight" and "Value Per Item"
                xVal = parseFloat(x.innerHTML) || 0;
                yVal = parseFloat(y.innerHTML) || 0;
            } else { // Alphabetical sorting for other columns
                xVal = x.innerHTML.toLowerCase();
                yVal = y.innerHTML.toLowerCase();
            }

            // Ascending or descending comparison
            if (dir == "asc") {
                if (xVal > yVal) {
                    shouldSwitch = true;
                    break;
                }
            } else if (dir == "desc") {
                if (xVal < yVal) {
                    shouldSwitch = true;
                    break;
                }
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
        } else {
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            } else if (switchcount !== 0 && dir == "desc") {
                dir = "asc"; // Reset direction after a full cycle
            }
        }
    }
}

document.getElementById('searchInput').addEventListener('input', function() {
    const searchTerm = this.value.trim().toLowerCase();
    const tableRows = document.querySelectorAll('#inventoryBody tr');

    tableRows.forEach(row => {
        const itemName = row.querySelector('td:first-child').textContent.trim().toLowerCase();
        const itemType = row.querySelector('td:nth-child(4)').textContent.trim().toLowerCase();

        if (itemName.includes(searchTerm) || itemType.includes(searchTerm)) {
            row.style.display = '';
        } else {
            row.style.display = 'none';
        }
    });

    // Recalculate totals based on filtered table
    calculateTotals();
});


function calculateTotals() {
    let totalWeight = 0;
    let totalValue = 0;
    const visibleRows = document.querySelectorAll('#inventoryBody tr');

    visibleRows.forEach(row => {
        if (row.style.display !== 'none') {
            const weight = parseFloat(row.querySelector('td:nth-child(3)').textContent);
            const value = parseFloat(row.querySelector('td:nth-child(6)').textContent);
            const stock = parseInt(row.querySelector('td:nth-child(5) input').value); // Get the stock input value
            if (!isNaN(weight) && !isNaN(value) && !isNaN(stock)) {
                const weightedWeight = weight * stock; // Calculate weighted weight
                const weightedValue = value * stock; // Calculate weighted value
                totalWeight += weightedWeight; // Accumulate weighted weight
                totalValue += weightedValue; // Accumulate weighted value
            }
        }
    });

    // Update total weight and total value
    document.getElementById('totalWeight').textContent = totalWeight.toFixed(2);
    document.getElementById('totalValue').textContent = totalValue.toFixed(2);
}
</script>
{% endblock %}